* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #353535;
	font-family: 'Raleway', sans-serif;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 2%;
	background-color: #424242;
	height: 500px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1 {
    color: #ecf0f1;
    margin-bottom: 10px;
}

.madeByText {
    text-align: center;
    position: fixed;
    bottom: 0px;
    color: #ecf0f1;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

h1 + p {
	margin-bottom: 5%;
    color: #ee98fb;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: #ecf0f1;
}

.scoreContainer {float: left;}
.timeContainer {float: right;}

.outerContainer:after {
	content: "";
	display: block;
	clear: both;
}

button {
    border: none;
    background-color: #ba68c8;
    box-shadow: 0px 5px 0px 0px #883997;
    outline: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.bg {
	background-color: #04AF71;
}

button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.scoreContainer p, .scoreContainer span, .timeContainer p, .timeContainer span {
    font-size: 30px;
    color: #ba68c8;
}

.wordsContainer {
	margin-top: 50px;
}

.words {
    font-size: 60px;
    letter-spacing: 1px;
    color: #ECF0F1;
}








